<header class="header">
    <h1 class="title">Viagem em Casa</h1>
    <nav class="navbar-header">
        <ul>
            <li>
                <a href="/">Inicio</a>
            </li>
            <li>
                <a href="/america">America</a>
            </li>
            <li>
                <a href="/europa">Europa</a>
            </li>
            <li>
                <a href="/africa">Africa</a>
            </li>
            <li>
                <a href="/asia">Asia</a>
            </li>
            <li>
                <a href="/oceania">Oceania</a>
            </li>
            <li>
                <a href="/antartida">Antartida</a>
            </li>
        </ul>
    </nav>
</header>