<header class="header">
    <h1 class="title">Viagem em Casa</h1>
    <nav class="navbar-header">
        <ul>
            <li>
                <a href="/">Inicio</a>
            </li>
            <li>
                <a href="/sobre">Sobre</a>
            </li>
            <li>
                <a href="#">Continentes</a>
            </li>
            <li>
                <a href="#">Adicionar</a>
            </li>
        </ul>
    </nav>
</header>