.header {
    background-color: rgb(61, 61, 61);
    padding: 15px;

    display: flex;
    align-items: center ;
    justify-content: space-between;
    color: white;
}


.header .navbar-header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    margin-bottom: 0;
}
.header .navbar-header ul li {
    list-style: none;
}

.header .navbar-header ul li a {
    text-decoration: none;
    color: white;
}

.title {
    font-size: 25px;
    cursor: pointer;
}

.body-background {
    background-image: url(../images/backgorund.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 89vh;

    display: flex;
    align-items: center;
    
}

.container {
    display: flex;
    justify-content: center
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select {
    width: 304px;
    height: 32px;
    border-radius: 10px;
    outline: none;
    border: none;
    text-align: center;
    font-size: 22px;
}

.button {
    margin-top: 10px;
    width: 138px;
    height: 29px;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #fbfbfb;
    font-size: 19px;
    
}

.content {
    display: flex;
}

.content-left {
    background: #dadae3;
    height: auto;
    width: 65%;
    padding: 15px 40px;
}

.content-left ul li {
    list-style: none;
}

.content-right {
    height: auto;
    width: 35%;
    background-image: url(../images/wp5614193.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}

.overlay {
    height: 100%;
    background-color: #000000b3;
}

.slides-image {
    position: absolute;
    top: 113px;
    right: 78px;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 4px rgb(51, 50, 50);
}

.texts {
    width: 82%;
}

.width-image-slide {
    width: 581px;
    height: 378px;
    object-fit: cover;
    border-radius: 6px;
}


.continentes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 292px 292px;

    grid-template-areas: 
    "Am Eu Afri"
    "Asi Oce Antar"
    ;

    grid-gap: 5px;
}


.america {
    grid-area: Am;
    background-color: red;
}

.europa {
    grid-area: Eu;
    background-color: blue;
}

.africa {
    grid-area: Afri;
    background-color: yellow;
}

.asia {
    grid-area: Asi;
    background-color: orange;
}

.oceania {
    grid-area: Oce;
}

.antartida{
    grid-area: Antar;
    background-color: green;
}

.todosContinentesStyles {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}