.header {
    background-color: rgb(61, 61, 61);
    padding: 15px;

    display: flex;
    align-items: center ;
    justify-content: space-between;
    color: white;
}


.header .navbar-header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    margin-bottom: 0;
    padding-left: 0;
}
.header .navbar-header ul li {
    list-style: none;
}

.header .navbar-header ul li a {
    text-decoration: none;
    color: white;
}


.title {
    font-size: 25px;
    cursor: pointer;
}

.body-background {
    background-image: url(../images/backgorund.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 89vh;

    display: flex;
    align-items: center;
    
}

.container {
    display: flex;
    justify-content: center
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select {
    width: 304px;
    height: 32px;
    border-radius: 10px;
    outline: none;
    border: none;
    text-align: center;
    font-size: 22px;
}

.button {
    margin-top: 10px;
    width: 138px;
    height: 29px;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #fbfbfb;
    font-size: 19px;
    
}

.content {
    display: flex;
}

.content-left {
    background: #dadae3;
    height: auto;
    width: 65%;
    padding: 15px 40px;
}

.content-left ul li {
    list-style: none;
}

.content-right {
    height: auto;
    width: 35%;
    background-image: url(../images/wp5614193.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}

.overlay {
    height: 100%;
    background-color: #000000b3;
}

.slides-image {
    position: absolute;
    top: 113px;
    right: 78px;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 4px rgb(51, 50, 50);
}

.texts {
    width: 82%;
}

.width-image-slide {
    width: 581px;
    height: 378px;
    object-fit: cover;
    border-radius: 6px;
}


.continentes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 292px 292px;

    grid-template-areas: 
    "Am Eu Afri"
    "Asi Oce Antar"
    ;

    grid-gap: 5px;
}


.america {
    grid-area: Am;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Americas_%28orthographic_projection%29.svg/250px-Americas_%28orthographic_projection%29.svg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.europa {
    grid-area: Eu;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c6/Europe_%28orthographic_projection%29.svg/250px-Europe_%28orthographic_projection%29.svg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.africa {
    grid-area: Afri;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/Africa_%28orthographic_projection%29.svg/250px-Africa_%28orthographic_projection%29.svg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.asia {
    grid-area: Asi;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Asia_%28orthographic_projection%29.svg/250px-Asia_%28orthographic_projection%29.svg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.oceania {
    grid-area: Oce;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/Oceania_%28orthographic_projection%29.svg/250px-Oceania_%28orthographic_projection%29.svg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.antartida{
    grid-area: Antar;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Antarctica_%28orthographic_projection%29.svg/250px-Antarctica_%28orthographic_projection%29.svg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.todosContinentesStyles {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
}

.todosContinentesStyles a {
    text-decoration: none;
    color: black;
    margin-bottom: 110px;
    font-size: 41px;
    font-family: fantasy;
}

.continente {
    background-image: url(../images/continente.jpg);
    background-size: cover;
    height: 94vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.name-continente {
    width: 84px;
    height: 89vh;
    word-break: break-all;
    margin-left: 70px;
    margin-top: 30px;
}

.name-continente .palavra {
    font-size: 71px;
}


.americano {
    width: 65%;
    margin-top: 100px;
    color: white;
    text-align: center;
    margin-right: 70px;
}

.americano .saudacao {
    font-size: 40px;
    margin-bottom: 40px;
}

.americano .info-continente {
    font-size: 24px;
}

.americano .select-pais {
    display: block;
    text-align: center;
    width: 200px;
}

.form-pais {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-pais label {
    font-size: 20px;
}

.select-pais {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
    outline: none;
}

.form-pais button {
    border: none;
    outline: none;
    padding: 3px 5px;
    border-radius: 10px;
}

.container-continente {
    padding: 30px 100px;
    position: relative;
}

.linkContinente {
    position: absolute;
    top: 40px;
    right: 65px;
    text-decoration: none;
    background: black;
    color: white;
    padding: 5px 7px;
    border-radius: 10px;
    cursor: pointer;
}

.linkContinente:hover {
    color: white;
}