<%- include("../partials/head.ejs") %> 
<%- include("../partials/header.ejs") %> 
<body>
    <div class="continentes">
        <div class="america todosContinentesStyles">America</div>
        <div class="europa todosContinentesStyles">Europa</div>
        <div class="africa todosContinentesStyles">Africa</div>
        <div class="asia todosContinentesStyles">Asia</div>
        <div class="oceania todosContinentesStyles">Oceania</div>
        <div class="antartida todosContinentesStyles">Antartida</div>
    </div>
</body>
</html>