<%- include("../partials/head.ejs") %> 
<%- include("../partials/header.ejs") %> 
<body>
    <div class="continentes">
        <div class="america todosContinentesStyles">
            <a href="/america">América</a>
        </div>
        <div class="europa todosContinentesStyles">
            <a href="/europa">Europa</a>
        </div>
        <div class="africa todosContinentesStyles">
            <a href="/africa">África</a>
        </div>
        <div class="asia todosContinentesStyles">
            <a href="/asia">Ásia</a>
        </div>
        <div class="oceania todosContinentesStyles">
            <a href="/oceania">Oceania</a>
        </div>
        <div class="antartida todosContinentesStyles">
            <a href="/antartida">Antártida</a>
        </div>
    </div>
</body>
</html>