<%- include("../partials/head.ejs") %> 
<%- include("../partials/header.ejs") %> 
<body>
    <div class="body-background">
        <div class="container">
            <form action="/continente/lugares" method="get" class="form">
                <select name="continente" class="select">
                    <option value="" disabled selected>--Selecione um continente--</option>
                    <% continentes.forEach(continente => { %>
                            <option><%= continente.title %> </option>
                    <% }) %>
                </select>
                    <button type="submit" class="button">Pesquisar</button>
            </form>
        </div>
    </div>
</body>
</html>