<%- include("../partials/head.ejs") %> 
<%- include("../partials/header.ejs") %> 
<body>
    <div class="body-background">
        <div class="container">
            <form action="" class="form">
                <select name="" class="select">
                    <option value="" disabled selected>--Selecione um continente--</option>
                    <option value="">América</option>
                    <option value="">Europa</option>
                    <option value="">África</option>
                    <option value="">Ásia</option>
                    <option value="">Oceania</option>
                    <option value="">Antártida</option>
                </select>
                <button type="submit" class="button">Pesquisar</button>
            </form>
        </div>
    </div>
</body>
</html>