<%- include("../../partials/head.ejs") %> 
<%- include("../../partials/headerContinente.ejs") %> 
<body>
    <div class="pais">
        <h1 class="nome-pais">Guatemala</h1>

        <p class="texto-pais">
            "Localizada na América Central, a Guatemala faz limites a oeste e a norte com o México, a leste com Belize e Honduras, ao sul com El Salvador, além de ser banhado pelo oceano Pacífico e oceano Atlântico (Mar do Caribe).

            Situado no oeste da América Central, o país possui território sujeito a terremotos, e cortado por duas cordilheiras, a serra Madre e a serra dos Cuchumatanes, com picos e vulcões que ultrapassam 4 mil metros de altitude.

            Foi o principal centro da civilização Maia entre os séculos IV ao IX. É uma nação marcada pela oposição entre os indígenas de origem maia (quase metade dos habitantes), que exercem forte influência na cultura nacional, e a elite de origem espanhola, que controla a produção econômica e o poder político no país.

            No litoral do Pacífico e no do Atlântico, há planícies costeiras nas quais se desenvolve a atividade agrícola (principal atividade econômica do país), com base em culturas tropicais de exportação, como café, açúcar e banana. O setor industrial guatemalteco é o maior entre as nações centro-americanas."

        </p>

        <div class="info-pais">
            <ul>
                <p><strong>Idioma</strong></p>    
                <li>Espanhol</li>
            </ul>
            <ul>
                <p><strong>Ponto Turistico</strong></p>    
                <li>Tikal</li>
                <li>Semuc Champey</li>
                <li>Pacaya</li>
            </ul>
        </div>

        <p class="gastronomia">
            A maioria dos alimentos tradicionais da culinária guatemalteca é baseada na culinária maia, com influência espanhola, e destaca o milho, a pimenta e o feijão como ingredientes principais. A Guatemala é famosa por abrigar o abacate Hass e o berço do chocolate, criado pelos maias.
        </p>

        <iframe class="video-pais" width="560" height="315" src="https://www.youtube.com/embed/t479Oa5Z5n0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</body>
</html>