<%- include("../../partials/head.ejs") %> 
<%- include("../../partials/headerContinente.ejs") %> 
<body>
    <div class="pais">
        <h1 class="nome-pais">Guiana</h1>

        <p class="texto-pais">
            O termo Guianas costuma se referir a três pequenos territórios que ficam no norte da América do Sul, um tanto esquecidos entre o Brasil e as ilhas do Caribe. O primeiro deles, a Guiana, costumava ser uma colônia britânica e ainda hoje tem o inglês como língua oficial. O segundo, Suriname, menor país da América do Sul, já se chamou Guiana Holandesa, justamente por ter pertencido ao país europeu, e tem o holandês como língua oficial. O último, a Guiana Francesa, é o único que não se tornou independente e, portanto, ainda hoje pertence à França e, dessa forma, tem habitantes franceses, que falam francês, mas vivem na América
        </p>

        <div class="info-pais">
            <ul>
                <p><strong>Idioma</strong></p>    
                <li>Ingles</li>
            </ul>
            <ul>
                <p><strong>Ponto Turistico</strong></p>    
                <li>Cataratas Kaieteur</li>
                <li>Iwokrama</li>
                <li>Paramaribo</li>
            </ul>
        </div>

        <p class="gastronomia">
            Na gastronomia local, os pratos típicos são: o pepperpot, (um guisado de carne com tucupi preto e pimenta), o chowmein (um tipo de macarrão de origem chinesa), chicken curry (frango com curry), beef curry (carne bovina com curry) e o roti (um tipo de pão achatado, parecido com o árabe
        </p>

        <iframe class="video-pais" width="560" height="315" src="https://www.youtube.com/embed/J80ZxGcGTxw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</body>
</html>