<%- include("../../partials/head.ejs") %> 
<%- include("../../partials/headerContinente.ejs") %> 
<body>
    <div class="pais">
        <h1 class="nome-pais">Trinidad & Tobago</h1>

        <p class="texto-pais">
            "Localizado no Mar do Caribe, Trinidad e Tobago é um país insular e não possui fronteira terrestre com nenhuma nação. Seu território é formado por duas ilhas principais (Trinidad e Tobago) e várias ilhotas. Apesar das ilhas serem uma extensão geológica da América do Sul (a nordeste da Venezuela), o país pertence à América Central.

            Trinidad, ilha de maior extensão territorial (4.800 quilômetros quadrados), abriga a maioria da população, que é constituída principalmente de descendentes de escravos africanos, além de imigrantes indianos e chineses. Tobago, por sua vez, possui cerca de 330 quilômetros quadrados, entretanto, nessa ilha são encontradas as mais belas praias do país"
        </p>

        <div class="info-pais">
            <ul>
                <p><strong>Idioma</strong></p>    
                <li>Ingles</li>
            </ul>
            <ul>
                <p><strong>Ponto Turistico</strong></p>    
                <li>Praia de Maracas</li>
                <li>Englishmans Bay</li>
                <li>Pigeon Point Beach</li>
            </ul>
        </div>

        <p class="gastronomia">
            Trinidad e Tobago tem uma história única e sua comida é influenciada pelos estilos culinários indiano-sul asiático, oeste africano, crioulo, europeu, americano, chinês, ameríndio e latino-americano.
        </p>

        <iframe class="video-pais" width="560" height="315" src="https://www.youtube.com/embed/kykeNL55BKI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</body>
</html>