<%- include("../../partials/head.ejs") %> 
<%- include("../../partials/headerContinente.ejs") %> 
<body>
    <div class="continente">
        <div class="name-continente">
            <h1 class="palavra">A</h1>
            <h1 class="palavra">fri</h1>
            <h1 class="palavra">ca</h1>
        </div>
        <div class="americano">
            <h2 class="saudacao">Bem- vindo ao continente africano!!!</h2>
            <p class="info-continente">A África é um continente localizado na zona intertropical, com maior parte do seu território no Hemisfério Sul. Possui mais de um bilhão de habitantes e 30 milhões de km2 de extensão, sendo, por isso, considerado um dos maiores e mais populosos continentes do mundo..</p>

            <form action="" class="form-pais">

                <label>Listamos os 3 paises menos visitados da Africa que possuem lugares incriveis</label>
                <select name="pais" class="select-pais">
                    <option selected>-- Selecionar Pais -- </option>
                    <option>Etiopia</option>
                    <option>Ilhas Mauricio</option>
                    <option>Tanzania</option>
                </select>
                <button type="submit">Prosseguir</button>
            </form>
        </div>

    </div>
</body>
</html>