<%- include("../../partials/head.ejs") %> 
<%- include("../../partials/headerContinente.ejs") %> 
<body>
    <div class="continente">
        <div class="name-continente">
            <h1 class="palavra">A</h1>
            <h1 class="palavra">me</h1>
            <h1 class="palavra">ri</h1>
            <h1 class="palavra">ca</h1>
        </div>
        <div class="americano">
            <h2 class="saudacao">Bem- vindo ao continente americano!!!</h2>
            <p class="info-continente">O continente que eh conhecido como o "Novo Mundo". Mas isso não significa que ele seja mais novo realmente que os demais continentes, pois essa denominação foi criada após o descobrimento pelos europeus, tratando-se, portanto, de uma visão eurocêntrica da América.</p>

            <form action="/continente/lugares/paises" method="get" class="form-pais">

                <label>Listamos os 3 paises menos visitados da America que possuem lugares incriveis</label>
                <select name="pais" class="select-pais">
                    <option selected>-- Selecionar Pais -- </option>
                    <option>Guiana</option>
                    <option>Guatemala</option>
                    <option>Trinidad e Tobago</option>
                </select>
                <button type="submit">Prosseguir</button>
            </form>
        </div>

    </div>
</body>
</html>