<%- include("../../partials/head.ejs") %> 
<%- include("../../partials/headerContinente.ejs") %> 
<body>
    <div class="continente">
        <div class="name-continente">
            <h1 class="palavra">An</h1>
            <h1 class="palavra">tar</h1>
            <h1 class="palavra">di</h1>
            <h1 class="palavra">da</h1>
        </div>
        <div class="americano">
            <h2 class="saudacao">Bem- vindo ao continente antartico!!!</h2>
            <p class="info-continente">A Antártida é o continente mais gelado do planeta, nele já foi registrada a temperatura de -89,2°C. O continente antártico é formado em toda sua totalidade por gelo e possui características singulares. Essa região detém cerca de 10% das terras emersas do planeta.</p>

            <form action="" class="form-pais">

                <label>Listamos os 3 lugares menos visitados da Antártida</label>
                <select name="pais" class="select-pais">
                    <option selected>-- Selecionar Pais -- </option>
                    <option>Lemaire Channel</option>
                    <option>King George Island</option>
                    <option>The South Pole</option>
                </select>
                <button type="submit">Prosseguir</button>
            </form>
        </div>

    </div>
</body>
</html>