<%- include("../../partials/head.ejs") %> 
<%- include("../../partials/headerContinente.ejs") %> 
<body>
    <div class="continente">
        <div class="name-continente">
            <h1 class="palavra">E</h1>
            <h1 class="palavra">u</h1>
            <h1 class="palavra">ro</h1>
            <h1 class="palavra">pa</h1>
        </div>
        <div class="americano">
            <h2 class="saudacao">Bem- vindo ao continente europeu!!!</h2>
            <p class="info-continente">A Europa é um dos menores continentes em termos de extensão territorial, mas é formado por um grande número de países. Eles estão localizados a oeste da Ásia e norte da África, além de serem banhados pelo Oceano Glacial Ártico, Oceano Atlântico, Mar Mediterrâneo e Mar Negro.</p>

            <form action="/continente/lugares/paises" method="get" class="form-pais">

                <label>Listamos os 3 paises menos visitados da Europa que possuem lugares incriveis</label>
                <select name="pais" class="select-pais">
                    <option selected>-- Selecionar Pais -- </option>
                    <option>Lichtenstein</option>
                    <option>Moldávia</option>
                    <option>San Marino</option>
                </select>
                <button type="submit">Prosseguir</button>
            </form>
        </div>

    </div>
</body>
</html>