<%- include("../../partials/head.ejs") %> 
<%- include("../../partials/headerContinente.ejs") %> 
<body>
    <div class="continente">
        <div class="name-continente">
            <h1 class="palavra">O</h1>
            <h1 class="palavra">ce</h1>
            <h1 class="palavra">a</h1>
            <h1 class="palavra">nia</h1>
        </div>
        <div class="americano">
            <h2 class="saudacao">Bem- vindo ao continente oceanico!!!</h2>
            <p class="info-continente">É um continente formado por 14 países e diversos territórios ultramarinos. Trata-se do menor continente do planeta. Divide-se em quatro regiões: Australásia, Melanésia, Micronésia e Polinésia. Possui 8,5 milhões de km² de área e mais de 42 milhões de habitantes.</p>

            <form action="/continente/lugares/paises" method="get" class="form-pais">

                <label>Listamos os 3 paises menos visitados da Oceania que possuem lugares incriveis</label>
                <select name="pais" class="select-pais">
                    <option selected>-- Selecionar Pais -- </option>
                    <option>Ilhas Marshall</option>
                    <option>Kiribati</option>
                    <option>Tuvalu</option>
                </select>
                <button type="submit">Prosseguir</button>
            </form>
        </div>

    </div>
</body>
</html>