<%- include("../partials/head.ejs") %> 
<%- include("../partials/headerContinente.ejs") %> 
<body>
    <div class="container-continente">
        <h1>Africa</h1>

        <p>África é o terceiro maior continente do mundo e um dos mais populosos. O continente africano, apesar de rico em biodiversidade e multicultural, sofre com a extrema pobreza.
        </p>

        <p>"África é um dos seis continentes do mundo, sendo o terceiro maior em extensão territorial. O território estende-se por mais de 30 milhões de km², ocupando, aproximadamente, 20% da área continental da Terra. No continente vive mais de um bilhão de habitantes, fazendo dele o segundo mais populoso entre os demais.</p>

        <p>A África é conhecida pela sua pluralidade étnica e cultural, e, por meio de uma história milenar, é capaz de contar a história de toda a humanidade. Apesar da enorme riqueza do continente, muitos países africanos apresentam baixos índices de desenvolvimento, com diversos problemas sociais, como a miséria, baixa qualidade de vida, subnutrição e o analfabetismo.
        </p>

        <h2>População e idiomas</h2>

        <p>Vivem no continente mais de um bilhão de habitantes. No entanto e apesar do alto contingente, a África apresenta distribuição desigual da população, devido às condições geográficas que desfavorecem a ocupação das áreas.</p>

        <p>O continente africano convive com grandes problemas de ordem social. Muitos países apresentam baixos Índices de Desenvolvimento Humano. Grande parte da população de alguns países convive com baixa qualidade de vida, fome e miséria. As taxas de natalidade e mortalidade são muito altas, enquanto a expectativa de vida é baixa.</p>

        <p>"Há uma grande diversidade cultural no continente, o qual possui várias etnias, tradições, religiões e línguas. Além das milhares de línguas africanas, falam-se as línguas trazidas pelos colonizadores, como o Francês, Inglês e Português. Essa última é falada por cinco países: Cabo Verde, Guiné-Bissau, São Tomé e Príncipe, Moçambique e Angola. Recentemente Guiné Equatorial também adotou o idioma. Caso tenha curiosidade sobre esse tema, leia nosso texto: População africana.</p>

        <h2>Economia</h2>

        <p>"Índices econômicos e de desenvolvimento humano apontam que o continente africano é o mais pobre entre os continentes. Muitos países são considerados subdesenvolvidos.</p>

        <p>"A economia africana é baseada, principalmente, no setor primário, com o extrativismo e a agropecuária. O continente é rico em minerais como ouro e diamante. Em alguns países também são encontrados petróleo e gás natural. A exploração de recursos naturais é feita pelos europeus e também pelos norte-americanos, o que impede o desenvolvimento do país com base em suas próprias riquezas.</p>

        <p>"O extrativismo animal e vegetal também destaca-se. Já no que tange à agropecuária, a agricultura realizada em alguns lugares é para subsistência e, em outros, para fim comercial.</p>

        <p>"Os principais cultivos para subsistência são: mandioca, milho, inhame e sorgo. Já dos cultivos voltados para o mercado destacam-se algodão, cacau, café e amendoim. Em relação à pecuária, a criação de gado ganha destaque em diversas áreas. A criação de ovelha também é comum no sul do continente.</p>

        <a href="/continente/lugares/africa">Lugares na africa para serem visitados</a>
    </div>
</body>
</html>