<%- include("../partials/head.ejs") %> 
<%- include("../partials/headerContinente.ejs") %> 
<body>
    <div class="container-continente">
        <h1>America</h1>

        <p>A América é o continente com maior extensão latitudinal, com a segunda maior área e o terceiro quantitativo populacional mais numeroso.</p>

        <p>A América – que também costuma ser chamada de “Américas” quando tratada em seu todo – é um continente localizado nos hemisférios norte, sul e ocidental, situando-se entre os oceanos Pacífico e Antártico. A sua área de 42.459.000 km² torna-a o segundo maior continente do mundo, ficando atrás apenas da Ásia.

        É o continente com maior extensão no sentido norte-sul, sendo o único a ocupar todas as faixas climáticas do planeta, uma vez que é cortado pela Linha do Equador e também pelos dois trópicos (Câncer e Capricórnio).</p>

        <h2>Economia da América</h2>

        <p>Economicamente, a maior parte dos países americanos é considerada periférica ou em desenvolvimento, com exceção dos Estados Unidos e do Canadá, considerados como países centrais. Em todos eles, a agricultura é bastante difundida, tornando-se o principal foco de exportações na América Latina.
        </p>

        <p>Os dois mais desenvolvidos são, obviamente, as nações mais industrializadas, apesar de países como Brasil, México e Argentina também apresentarem elevados níveis de produção fabril. No entanto, nesses últimos, as principais empresas são estrangeiras, ou seja, multinacionais advindas de países ricos e que se instalam nesses locais em busca de mão de obra barata e maiores concessões tributárias e ambientais.
        </p>

        <h2>Colonização e ocupação territorial</h2>

        <p>Os primeiros povos a ocupar o continente americano chegaram a esse continente há mais de 15 mil anos. Estudos estimam que eles eram grupos advindos da Ásia, através da passagem pelo Estreito de Bering, que, nesses tempos, encontrava-se congelando, possibilitando a migração por terra.
        </p>

        <p>Em 1492, iniciou-se a colonização europeia com a chegada de Cristóvão Colombo. O nome “América”, inclusive, é uma homenagem a Américo Vespúcio, o primeiro a descobrir que aquelas terras se tratavam, na verdade, de um novo lugar ainda desconhecido pela civilização ocidental.
        </p>

        <a href="/continente/lugares/america">Lugares na america para serem visitados</a>
    </div>
</body>
</html>