<%- include("../partials/head.ejs") %> 
<%- include("../partials/headerContinente.ejs") %> 
<body>
    <div>
        <h1>Antártida</h1>

        <p>A Antártida é o continente mais gelado do planeta, nele já foi registrada a temperatura de -89,2°C.</p>

        <p>"O continente antártico é formado em toda sua totalidade por gelo e possui características singulares. Essa região detém cerca de 10% das terras emersas do planeta.</p>

        <p>"O coração da Antártida é composto por um grande planalto de gelo. Dessa forma, ele apresenta altitudes que variam entre 1500 e 4000 metros acima do nível do mar.</p>

        <p>Essa região corresponde a uma área de calota polar. Ocupando um território com tamanho semelhante ao do Brasil, é considerado o maior dos desertos, isso porque apresenta as condições mais adversas para manutenção e proliferação de vida.</p>

        <p>"Foi no coração da Antártida que foi registrada a menor temperatura do planeta, cerca de -89,2ºC, em Vostok, uma base russa. Além disso, apresenta a escuridão da noite polar que tem duração de 4 a 6 meses. Na região, a ocorrência de ventos constantes provoca uma série de erosões sobre o gelo.</p>

        <p>"Apesar de aparentemente ser um lugar úmido, a umidade relativa do ar é muito semelhante às que predominam nos desertos de areia, isso porque a ocorrência de precipitação de neves é rara, e quando acontece, ela se compacta rapidamente, tornando-se blocos de gelo. Uma grande parcela da calota de gelo se sedimenta em áreas mais profundas do continente e determinadas montanhas afloram na superfície; já em outros lugares, o gelo se acomoda abaixo do nível do mar.</p>
    </div>
</body>
</html>