<%- include("../partials/head.ejs") %> 
<%- include("../partials/headerContinente.ejs") %> 
<body>
    <div class="container-continente">
        <h1>Ásia</h1>

        <p>A Ásia é um dos continentes do mundo, considerado o mais extenso territorialmente e o mais populoso também. A Ásia é dividida em regiões geográficas, o que facilita o estudo.
        </p>

        <p>A Ásia é o maior continente em área terrestre do mundo, estando boa parte do continente localizado no Hemisfério Norte. Além de ser o mais extenso, é também o mais populoso, habitando nele cerca de três quintos da população mundial. A Ásia é multicultural, abrigando diversas culturas, etnias, religiões e tradições.</p>

        <p>Geograficamente, o continente asiático é também muito diverso. No continente, localiza-se algumas montanhas que estão entre as mais altas do mundo, grandes desertos e extensos rios. O povo asiático corresponde a uma das civilizações mais antigas do mundo, iniciada há cerca de 4000 anos. A economia e governos são também variados, visto que o continente é composto por um grande número de países, cada qual com as suas particularidades.</p>

        <h2>Economia</h2>

        <p>O país que apresenta a maior economia no continente é a China. O Produto Interno Bruto do país é de aproximadamente US$ 12,24 trilhões. O crescimento econômico do continente deu-se no período pós-Segunda Guerra Mundial. A economia baseia-se principalmente em:</p>

        <ul>
            <li>
                <p>Mineração: o continente conta com grandes reservas minerais de petróleo, carvão mineral, ferro, chumbo, zinco e manganês, com destaque para o Oriente Médio, que produz cerca de 30% do total do petróleo explorado no mundo todo.</p>
            </li>
            <li>
                <p>Agropecuária: Destaque para a agricultura com o cultivo de arroz, trigo, milho, fumo, juta, algodão, pimenta, entre outros, e a pecuária representada pela produção de suínos, ovinos e bovinos.</p>
            </li>
            <li>
                <p>Indústria: As maiores potências industriais da Ásia são: China e Japão e os chamados Tigres asiáticos que correspondem à Coreia do Sul, Cingapura, Hong Kong e Taiwan (territórios que apresentam elevado nível industrial e de desenvolvimento econômico).</p>
            </li>
        </ul>

        <h2>Cultura</h2>

        <p>"Por abrigar diversos grupos étnicos, a Ásia apresenta uma grande pluralidade cultural. As línguas mais faladas no continente são o mandarim, árabe e o malaio-indonésio. Mas devido à grande diversidade populacional, diversas outras línguas são faladas no continente. As principais religiões no país são: hinduísmo e o budismo. Mas há também representantes do cristianismo, protestantismo, islamismo, xintoísmo e o judaísmo.</p>

        <h2>População</h2>

        <p>"O continente asiático corresponde à área de maior número de habitantes do planeta, mais da metade da população mundial. A densidade demográfica do continente chega a cerca de 100 habitantes por quilômetro quadrado. A população distribui-se pelas diversas regiões do continente, concentrando-se especialmente nas regiões de planícies. Nas áreas desérticas e montanhosas, a população é mais escassa.</p>

        <a class="linkContinente" href="/continente/lugares/asia">Lugares na asia para serem visitados</a>
    </div>
</body>
</html>