<%- include("../partials/head.ejs") %> 
<%- include("../partials/headerContinente.ejs") %> 
<body>
    <div>
        <h1>Europa</h1>

        <p>Europa é um dos seis continentes do mundo, localizado a oeste da Ásia e ao norte da África. O continente é composto por 50 países e possui o maior bloco econômico do mundo.
        </p>

        <p>Europa é um dos seis continentes do mundo, sendo em extensão territorial o segundo menor. O continente é banhado, ao norte, pelo Mar Ártico; ao sul, pelo Mar Mediterrâneo e o Mar Negro; a oeste, pelo Oceano Atlântico; e, a leste, pelo Mar Cáspio. A Europa é também conhecida como o “Velho Mundo” e considerada o berço da cultura ocidental.</p>

        <p>A Europa limita-se territorialmente com a Ásia, a leste, sendo considerada então um prolongamento da massa continental do continente asiático, formando, assim, a Eurásia (massa continental formada pela Europa e pela Ásia).</p>

        <h2>Economia da Europa</h2>

        <p>A Europa possui uma das economias mais avançadas do globo, com amplo dinamismo e avançados graus de tecnologia e inovações científicas. Vários países do continente são líderes em rankings econômicos mundiais, como a produção de vinhos e gás natural.</p>

        <p>O continente vivencia o processo de terciarização da economia, algo típico de países desenvolvidos. Esse processo consiste no predomínio do setor terciário nas atividades econômicas, sendo relacionado com a desindustrialização das áreas urbanas europeias.</p>

        <p>Com vários países sendo a preferência de turistas do mundo todo, atividades como shoppings, teatros, bares, hotéis, museus, teatros e passeios históricos ganham força nas economias regionais.</p>

        <h2>População da Europa</h2>

        <p>Com aproximadamente 750 milhões de habitantes em 2020, a Europa possui uma das menores taxas de natalidade e fecundidade do mundo, em especial nos países da Europa Ocidental.</p>

        <p>Vários países enfrentam crises demográficas, como Portugal, Itália e Alemanha. Essas crises fazem referência a um baixo crescimento vegetativo e ao progressivo envelhecimento populacional, o que leva a uma diminuição da mão de obra e um aumento com gastos previdenciários.
        </p>

        <p>Muitos motivos podem explicar o baixo crescimento populacional europeu, como aumento do tempo de estudo (maior escolaridade), independência e participação da mulher no mercado de trabalho, disseminação dos métodos contraceptivos, educação avançada, além dos altos curtos que envolvem a formação de um cidadão.
        </p>
    </div>
</body>
</html>