<%- include("../partials/head.ejs") %> 
<%- include("../partials/headerContinente.ejs") %> 
<body>
    <div>
        <h1>Oceania</h1>

        <p>Oceania é um continente localizado entre os oceanos Índico e Pacífico, formado por 14 países insulares e diversos territórios ultramarinos. Possui 42 milhões de habitantes.</p>

        <p>"A Oceania é um continente situado entre os oceanos Índico e Pacífico, a sudeste da Ásia. A maior parte de suas terras fica no Hemisfério Sul do planeta. É composto por 14 países e ilhas e territórios pertencentes a outros países, tanto oceânicos quanto de outros continentes. A maior e mais populosa das nações é a Austrália, que consiste também na principal economia do continente. Destaca-se também a Nova Zelândia. No total, o continente possui cerca de 42 milhões de habitantes e apresenta condições bastante contrastantes no que diz respeito aos aspectos socieconômicos de seus países.</p>

        <h2>Economia da Oceania</h2>

        <p>O conjunto de países da Oceania apresenta um Produto Interno Bruto (PIB) de aproximadamente US$ 1,7 trilhão, valor que pode ser equiparado a diversas nações do globo. Internamente, no entanto, existe uma grande disparidade entre as suas economias mais ricas e mais pobres.</p>

        <p>O continente abriga uma das 20 maiores economias do mundo que é a Austrália, país que registra um PIB de 1,3 trilhão de dólares e um valor per capita muito elevado, da ordem de 50 mil dólares. A Nova Zelândia e a Papua Nova Guiné são, respectivamente, a segunda e terceira maior economia do continente.</p>

        <p>No outro extremo dessa listagem estão Nauru e Tuvalu, os dois arquipélagos mais pobres da Oceania. Com relação à renda per capita, os menores valores são encontrados nas ilhas Salomão e em Kiribati. Nas economias mais pobres, têm maior peso o setor de serviços e o primário, onde predominam a agricultura e a pecuária de pequena escala, com destaque para a pesca e as atividades atreladas ao turismo.</p>

        <p>A Austrália e a Nova Zelândia concentram as principais indústrias do continente oceânico, destacando-se com seu parque tecnológico e na produção de energia, que ocorre com base em fontes diversificadas, como urânio (nuclear), combustíveis fósseis e hidrelétrica. Em conjunto com Papua Nova Guiné, consistem nas principais nações exportadores da região, cuja pauta é formada por alimentos e matérias-primas, combustíveis fósseis, minérios e produtos industrializados.</p>

        <h2>Cultura da Oceania</h2>

        <p>A Oceania possui uma cultura muito diversa que é composta por elementos importados pelos colonizadores europeus e, principalmente, por aqueles oriundos dos povos nativos das ilhas oceânicas, como os aborígenes australianos, os maori, os polinésios e centenas de outros grupos presentes nos demais territórios e países. Atualmente, os povos indígenas somam pouco menos de 3% da população da Oceania, formada predominantemente por descendentes de europeus e migrantes daquele continente.</p>

        <p>Tais aspectos influenciam diretamente nos costumes da população, no idioma falado e na religiosidade. O inglês é predominante em conjunto com outras línguas europeias, como o francês. No entanto, as centenas de comunidades nativas possuem também seus idiomas próprios, como os dialetos aborígenes (muitos hoje extintos), maori e palauense.</p>

        <h2>Infraestrutura da Oceania</h2>

        <p>"As condições de vida e a oferta de infraestrutura na Oceania variam consideravelmente conforme o país. O continente possui duas das nações com maior Índice de Desenvolvimento Humano (IDH) do mundo, que são a Austrália e a Nova Zelândia, com valores respectivos de 0,944 e 0,931. Em contrapartida, as ilhas Salomão e a Papua Nova Guiné apresentam baixo IDH de 0,567 e 0,555.</p>

        <p>Grande parte da população oceânica vive nas cidades, chegando a quase 70%, mas essa não é uma realidade em todos os países. Na Papua Nova Guiné, por exemplo, somente 13,5% dos moradores vivem em áreas urbanizadas, concentrando-se na capital. A rede de infraestrutura do país é deficitária e atende em média metade da sua população total, sendo mais abrangente nas cidades</p>
    </div>
</body>
</html>